@charset "UTF-8";
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: sofia-pro, sans-serif, "游ゴシック体", YuGothic;
  width: auto;
  height: 100%;
  margin: 0px;
}

.common-button {
  display: block;
  width: 240px;
  font-family: sofia-pro, sans-serif;
  letter-spacing: 0.05em;
  line-height: 48px;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  margin: 0 auto;
  margin-top: 70px;
  text-align: center;
}

.button-shape {
  border-color: #000;
  background-color: #000;
  color: #fff;
}

.header-main {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 80px;
  width: auto;
  padding: 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-main > .header-logo {
  width: 38px;
  height: 38px;
}

.header-main > .header-logo img {
  width: 38px;
  height: 38px;
}

.header-main > nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  letter-spacing: 0.05em;
  font-weight: 500;
  font-family: sofia-pro;
}

.header-main > nav > ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px;
}

.header-main > nav > ul li {
  padding: 28px 0;
  margin: 0 14px;
}

.header-main > nav > .menu-icon img {
  padding: 28px 0;
  margin-left: 35px;
}

.top-image-content {
  background-image: url(../images/main-image.png);
  height: 753px;
  width: auto;
  background-size: cover;
  background-position: center center;
  margin: 0 40px;
}

.top-image-content .main-catch-area {
  text-align: center;
  color: #fff;
  font-family: sofia-pro, sans-serif;
}

.top-image-content .main-catch-area > .main-catch {
  margin: 0px;
  padding-top: 280px;
  font-weight: 400;
  letter-spacing: 0.05em;
  font-size: 70px;
  line-height: 1.23;
}

.top-image-content .main-catch-area > .sub-catch {
  font-family: "游ゴシック体";
  font-weight: 300;
  padding: 22px 0 130px 0;
}

.top-image-content .main-catch-area > .mini-text {
  font-size: 14px;
}

.main-masseage-area {
  text-align: center;
  padding: 120px 0;
  margin: 0 40px;
  font-family: "游ゴシック体";
}

.main-masseage-area .section-title {
  font-size: 18px;
  font-family: sofia-pro, sans-serif;
}

.main-masseage-area .jp-main-catch {
  font-size: 42px;
  line-height: 1.3;
  margin-top: 30px;
}

.main-masseage-area .jp-main-catch:before {
  content: "「";
  margin-right: 25px;
}

.main-masseage-area .jp-main-catch:after {
  content: "」";
  margin-left: 25px;
}

.main-masseage-area .main-catch-text {
  line-height: 2.2;
  font-size: 18px;
  margin-top: 60px;
}

.identity-contents {
  padding: 96px 0;
  margin: 0 40px;
  background-color: #f8f8f8;
  text-align: center;
}

.identity-contents .identity-contents-inner {
  max-width: 1060px;
  padding: 0 20px;
  margin: 0 auto;
}

.identity-contents .identity-contents-inner .sub-main-catch {
  font-size: 40px;
  font-family: sofia-pro, sans-serif;
  font-weight: 600;
  letter-spacing: 0.05em;
}

.identity-contents .identity-contents-inner .sub-section-title {
  font-size: 12px;
  line-height: 2;
  margin-bottom: 70px;
}

.identity-contents .identity-contents-inner .identity-image-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #FFF;
  font-family: "游ゴシック体";
}

.identity-contents .identity-contents-inner .identity-image-area .ethical-area {
  background-image: url(../images/identity-ethical-media.jpg);
  background-position: center center;
  background-size: cover;
  text-align: center;
}

.identity-contents .identity-contents-inner .identity-image-area .maker-area {
  background-image: url(../images/identity-craft-media.jpg);
  background-position: center center;
  background-size: cover;
}

.identity-contents .identity-contents-inner .identity-image-area .identity-common-area {
  text-align: center;
  width: calc(50% - 20px);
  max-height: 490px;
  padding: 61px 73px;
}

.identity-contents .identity-contents-inner .identity-sub-catch {
  font-size: 24px;
  margin: 25px 0;
  white-space: nowrap;
}

.identity-contents .identity-contents-inner .identity-sub-text {
  font-size: 14px;
  text-align: left;
  line-height: 1.8;
  font-weight: lighter;
}

.identity-contents .identity-contents-inner .identity-detail-button {
  margin-top: 42px;
  font-family: sofia-pro, sans-serif;
  font-size: 12px;
  letter-spacing: 0.05em;
  font-weight: 600;
}

.business-contents {
  padding: 120px 0;
  margin: 0 40px;
}

.business-contents .business-contents-inner {
  max-width: 1060px;
  padding: 0 20px;
  margin: 0 auto;
}

.business-contents .business-contents-inner .business-contents-text {
  text-align: center;
}

.business-contents .business-contents-inner .business-contents-text .sub-main-catch-large {
  font-family: sofia-pro, sans-serif;
  font-weight: 600;
  letter-spacing: 0.05em;
  font-size: 22px;
}

.business-contents .business-contents-inner .business-contents-text .jp-sub-catch {
  font-size: 36px;
  line-height: 1.38;
  font-weight: 700;
  margin: 25px 0 70px;
}

.business-contents .business-contents-inner .business-images-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "游ゴシック体";
}

.business-contents .business-contents-inner .business-images-area .business-common-area {
  width: calc(50% - 20px);
}

.business-contents .business-contents-inner .business-images-area .business-common-area > img {
  max-width: 490px;
}

.business-contents .business-contents-inner .business-images-area .business-common-area > .business-common-title {
  margin-top: 30px;
  font-size: 22px;
  font-weight: 700;
}

.business-contents .business-contents-inner .business-images-area .business-common-area > .business-common-text {
  margin-top: 0.5em;
}

.magazin-contents {
  padding: 96px 0;
  margin: 0 40px;
  background-color: #f8f8f8;
}

.magazin-contents .magazin-contents-inner {
  max-width: 1060px;
  padding: 0 20px;
  margin: 0 auto;
}

.magazin-contents .magazin-contents-inner .magazin-contents-text-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.magazin-contents .magazin-contents-inner .magazin-contents-text-area .sub-main-catch {
  font-size: 40px;
  font-family: sofia-pro, sans-serif;
  font-weight: 600;
  letter-spacing: 0.05em;
  padding-right: 40px;
}

.magazin-contents .magazin-contents-inner .magazin-contents-text-area .sub-main-text-area {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 12px;
  font-family: sofia-pro, sans-serif;
}

.magazin-contents .magazin-contents-inner .magazin-image-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.magazin-contents .magazin-contents-inner .magazin-image-area .magazin-image-main {
  width: 690px;
  padding: 0 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 -30px;
}

.magazin-contents .magazin-contents-inner .magazin-image-area .magazin-image-main > img {
  margin-bottom: 24px;
}

.magazin-contents .magazin-contents-inner .magazin-image-area .magazin-image-main .sub-text-gray-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: sofia-pro, sans-serif;
  font-weight: 600;
  letter-spacing: 0.05;
  font-size: 12px;
  color: #999;
  margin-bottom: 10px;
}

.magazin-contents .magazin-contents-inner .magazin-image-area .magazin-image-main .sub-text-gray-main .gray-block {
  display: inline-block;
  margin: 0 16px;
  vertical-align: top;
}

.magazin-contents .magazin-contents-inner .magazin-image-area .magazin-image-common .sub-text-gray {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: sofia-pro, sans-serif;
  font-weight: 600;
  letter-spacing: 0.05;
  font-size: 12px;
  color: #999;
  margin-bottom: 6px;
}

.magazin-contents .magazin-contents-inner .magazin-image-area .magazin-image-common .sub-text-gray .gray-block {
  display: inline-block;
  margin: 0 16px;
  vertical-align: top;
}

.magazin-contents .magazin-contents-inner .magazin-image-area .magazin-image-sub {
  padding-left: 60px;
}

.magazin-contents .magazin-contents-inner .magazin-image-area .magazin-image-sub img {
  width: 100%;
  margin-bottom: 16px;
}

.magazin-contents .magazin-contents-inner .magazin-image-area .magazin-image-sub .magazin-content-last {
  margin-top: 30px;
}

.news-content {
  padding: 120px 0;
  margin: 0 40px;
}

.news-content .news-contens-area {
  margin: 0 30px;
  padding: 0 20px;
}

.news-content .news-contens-area .main-mews-title-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.news-content .news-contens-area .main-mews-title-area .news-main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news-content .news-contens-area .main-mews-title-area .news-main-header .sub-main-catch {
  font-size: 40px;
  font-family: sofia-pro, sans-serif;
  font-weight: 600;
  letter-spacing: 0.05em;
  padding-right: 40px;
}

.news-content .news-contens-area .main-mews-title-area .news-main-header .sub-test {
  font-family: sofia-pro, sans-serif;
  font-size: 12px;
}

.news-content .news-contens-area .main-mews-title-area .news-detail-button {
  font-family: sofia-pro, sans-serif;
  font-size: 12px;
  padding-right: -20px;
}

.news-content .news-contens-area .news-image-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -16px;
}

.news-content .news-contens-area .news-image-content .image-content-area {
  width: calc(100% / 3);
  padding: 0 16px;
}

.news-content .news-contens-area .news-image-content .image-content-area > img {
  max-width: 329px;
  margin-bottom: 20px;
}

.news-content .news-contens-area .news-image-content .image-content-area .sub-text-gray {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: sofia-pro, sans-serif;
  font-weight: 600;
  letter-spacing: 0.05;
  font-size: 12px;
  color: #999;
  margin-bottom: 6px;
}

.news-content .news-contens-area .news-image-content .image-content-area .sub-text-gray .gray-block {
  display: inline-block;
  margin: 0 16px;
  vertical-align: top;
}

.news-content .news-contens-area .news-image-content .image-content-area .news-detail-text {
  margin-top: 10px;
  font-size: 16px;
  font-family: "游ゴシック体";
}

.recruit-content {
  margin: 0 40px;
  padding-bottom: 120px;
}

.recruit-content .recruit-content-wrap {
  margin: 0 30px;
  padding: 0 20px;
  max-width: 1060px;
  overflow: hidden;
  position: relative;
}

.recruit-content .recruit-content-wrap .recruit-content-IMAGE {
  position: relative;
  overflow: hidden;
}

.recruit-content .recruit-content-wrap .recruit-content-text {
  color: #fff;
  position: absolute;
  top: 21%;
  left: 32%;
  text-align: center;
  padding: 0 20px;
  opacity: 0.8;
  letter-spacing: 0.05em;
}

.recruit-content .recruit-content-wrap .recruit-content-text .recruit-title {
  font-size: 40px;
  margin-bottom: 20px;
  font-weight: 600;
  font-family: sofia-pro, sans-serif;
}

.recruit-content .recruit-content-wrap .recruit-content-text .recruit-text {
  font-family: "游ゴシック体";
  line-height: 1.7;
  font-size: 14px;
}

.recruit-content .recruit-content-wrap .recruit-content-text .recruit-button {
  width: 240px;
  height: 50px;
  border: 1px solid #ffffff;
  font-size: 12px;
  line-height: 48px;
  margin: 40px auto 0;
  text-align: center;
  font-weight: 400;
  letter-spacing: 0.05em;
  font-family: sofia-pro, sans-serif;
}

.footer {
  margin-top: 70px;
}

.footer .shop-image-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .shop-image-area .shop-images {
  width: calc(100% / 3);
}

.footer .shop-image-area .shop-images .shop-logo {
  text-align: center;
  margin-top: 52px;
}

.footer .shop-image-area .shop-images .shop-logo .shop-text {
  color: #ffffff;
  margin-top: 9px;
  font-size: 12px;
}

.footer .shop-image-area .shop-images-wa {
  background-image: url("../images/wa.png");
  background-size: contain;
  height: 179px;
}

.footer .shop-image-area .shop-images-kindest {
  background-image: url("../images/kindest.png");
  background-size: contain;
  height: 179px;
}

.footer .shop-image-area .shop-images-kindest .shop-logo {
  margin-top: 40px;
}

.footer .shop-image-area .shop-images-wantedly {
  background-image: url("../images/wantedly.png");
  background-size: contain;
  height: auto;
}

.footer .footer-navi-area {
  padding: 0 20px;
  background-color: #000000;
  text-align: center;
}

.footer .footer-navi-area .footer-logo-area {
  padding: 100px 40px 50px;
  text-align: center;
}

.footer .footer-navi-area .footer-navi > nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

.footer .footer-navi-area .footer-navi > nav > ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.footer .footer-navi-area .footer-navi > nav > ul li {
  margin: 0 20px;
  font-size: 14px;
  font-weight: 200;
  font-family: sofia-pro, sans-serif;
  letter-spacing: 0.05em;
}

.footer .footer-navi-area .privacy-text {
  margin: 30px 10px 0;
  color: #999;
  font-size: 12px;
}

.footer .footer-navi-area .copywrite-text {
  padding: 20px 0px 90px;
  color: #999;
  font-size: 12px;
}
/*# sourceMappingURL=home.css.map */